@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  height: 100px;
  font-weight: 5px;
}
.details{
  padding-top: 10px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  font-size: 30px;
  font-family: 'Patrick Hand', cursive;
}

.topnav .search-container {
  float: right;
  border-radius:10px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
hr{
  color:burlywood;
   margin-left: 100px; 
   margin-right: 100px;
}

#title{
    width: 600px;
    margin-right: 30px;
    text-align: right;
    padding-right: 60px;
    letter-spacing: 2px;
    font-style: oblique;
}
.couverture-header{
    opacity:0.5;
    position: absolute;
    width: 100%;
    height:400px;
}
.couverture-header:hover{
    opacity:1.0;
}   
.section1{
    position:relative;
    top:-20px;
}
.slogan{
  color:black;
  position: relative;
  top:-300px;
  margin-right: 50px;
  margin-left: auto;
  width: 300px;
  text-align: left;
}

.categorie{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
.categorie-element{
  text-align: center;
  margin:20px;

}
h4{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color:darkblue;
}
.profil{
  background-color: brown;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  text-align: center;
  display: flex;
  border-radius: 5px;
  height: 40px;
}


.header{
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: 350px;
}
.classe{
  color: brown;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  text-align: center;
}
    
.soratra{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.a-propos{
    color:#3b3734;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    letter-spacing: 2px;
   line-height: 0,8;
    margin-bottom: 20px;
}
.article-item-one{
    display: flex;
    position: relative;
    margin-top: 20px;  
    justify-content: center;
}
.articles-items-content{
  margin: 20px;
}
div.article{
  backdrop-filter: blur(13px);
}
.description-article{
    font-size: 15px;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    background-image: url('../images/back1.avif');
    border-radius: 10px;
    width: 450px;
    height: 102px;
    padding: 24px;
    letter-spacing: 5px;
    
}

.photo{
   border-radius: 15px;
   width: 300px;
   height: auto;

}
.footer-items{
  display: flex;
  justify-content: space-around;
}
.send-email-content{
  display: flex;
  justify-content: center;
  padding:10px;

}
.send-email-content button{
  background-color: darkgoldenrod;
  color: azure;
  width: 140px;
  height: 40px;
  border-radius: 5px;
}
.send-email-content input{
  width:300px;
}